<!DOCTYPE html>
<html lang="sv" id="ng-app" ng-app="indexApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">

    <base href="/">
    <title>OAuth/SAML exchange example application</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css"/>
</head>
<style>
    html, body {
        height: 100%;
        margin: 4px;
        padding: 0;
    }

    body {
        padding-bottom: 50px;
    }

    .disabled-label {
        font-weight: normal;
    }

</style>

<body class="index-page" ng-controller="IndexController">

<div class="container content ng-cloak">
<h1>"Journalsystemet" - biljettväxling RFC7522 med överhopp till Webcert</h1>
    <div class="row">
        <div class="col-sm-6">
            <a href="/saml/login/alias/defaultAlias" class="btn btn-default">Login Inera IdP 1.0 (SITHS)</a>
            <button type="button" class="btn btn-default" ng-if="loggedIn" ng-click="exchangeToken()">Request Token from IdP</button>
            <button type="button" class="btn btn-default" ng-if="enableOpenButton()" ng-click="refreshAccessToken()">Refresh Access Token from IdP</button>
            <a ng-if="loggedIn" href="/saml/logout" class="btn btn-default">Logga ut</a>
        </div>
        <div class="col-sm-6">
            <strong>Du är inloggad som:</strong> {{ user.hsaId }}<br>
            <strong>Webcert URL:</strong> {{ config.webcertUrl }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <label for="access_token">Access token</label>
            <textarea id="access_token" rows="20" cols="60" name="access_token" ng-model="user.accessToken" class="form-control"></textarea><br>
            <button type="button" ng-click="loginDjupintegration()" ng-disabled="!enableOpenButton()" class="form-control btn btn-primary">Öppna Webcert (Djupintegration)</button>
            <button type="button" ng-click="loginReadonly()" ng-disabled="!enableOpenButton()" class="form-control btn btn-primary">Öppna Webcert (ReadOnly)</button>
        </div>
        <div class="col-sm-6">
            <h3>Djupintegrationsparametrar</h3>

            <div class="form-group" ng-repeat="field in fields">
                <label for="{{::field.id}}" class="control-label">{{::field.label}}:</label>

                <span ng-if="field.canDisable">
                    <label for="{{::field.id}}-disable-box" class="disabled-label">exclude:</label> <input type="checkbox" ng-attr-id="{{::field.id}}-disable-box" ng-model="field.disabled">
                </span>

                <input data-ng-if="field.checkbox" type="checkbox" ng-attr-id="{{::field.id}}"
                       name="{{::field.id}}" ng-model="field.model">
                <input data-ng-if="!field.checkbox" type="text" class="form-control" size="40"
                       ng-attr-id="{{::field.id}}"
                       name="{{::field.id}}"
                       data-ng-attr-placeholder="{{::field.placeholder}}"
                       ng-model="field.model"
                       ng-disabled="field.disabled"
                >
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/libs/angular/angular.min.js"></script>

<script type="text/javascript" src="js/index-app.main.js"></script>
</body>
</html>
